<footer class="footer">
  <div class="container">


    <div class="footer__header">

        <div>

        <h2 class="footer__title">
          QWERy
        </h2>
      </div>
      <div class="footer__button-container">
      <h4 class="footer__button-text">Ready to explore?</h4>
      <button class="footer__button">Get ready</button>
    </div>
    </div>
    <div class="footer__main-container">



    <div class="footer__main">
      <div class="footer__main-title">
        Let's go on vacation,<br> Make your day
      </div>
      <form action="" class="footer__main-form">
        <input type="email" maxlength="30" class="footer__main-form-input" placeholder="Email adress">
        <button class="footer__main-form-button">Send</button>
      </form>
    </div>
      <div class="footer__list-container">

        <ul class="footer__list">
          <h5 class="footer__list-title">Services</h5>
        <li class="footer__list-item">Email Marketing</li>
        <li class="footer__list-item">Campaing</li>
        <li class="footer__list-item">Branding</li>
        <li class="footer__list-item">Offline</li>

      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title">About</h5>
        <li class="footer__list-item">Our History</li>
        <li class="footer__list-item">Benefits</li>
        <li class="footer__list-item">Teem</li>
        <li class="footer__list-item">Careers</li>

      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title">Help</h5>
        <li class="footer__list-item">FAQs</li>
        <li class="footer__list-item">Contact us</li>


      </div>
    </ul>
  </div>
    <div class="footer__cellar">
      <ul class="footer__cellar-list">
        <li class="footer__cellar-list-item">Terms & Conditions</li>
        <li class="footer__cellar-list-item">Privacy Policy</li>
      </ul>

      <ul class="footer__cellar-social">
        <div class="footer__cellar-social-inner">
          <li class="footer__cellar-social-item"><img src="../img/instagram.svg"></li>
          <li class="footer__cellar-social-item"><img src="../img/twitter.svg"></li>
          <li class="footer__cellar-social-item"><img src="../img/Facebook.svg"></li>
        </div>
      </ul>
    </div>
  </div>
</footer>
