


<header class="header">
  <img class="header__background" src="../img/background.png"></img>
  <div class="container">
    <div class="header__inner">
      <h3 class="header__logo">QWERy</h3>
      <div class="header__listcontainer">

        <ul class="header__list">
          <li class="header__list-item header__list-item-info">Information</li>
          <li class="header__list-item header__list-item-about">About us</li>
          <li class="header__list-item header__list-item-culture">Culture</li>
        </ul>
      </div>

      <div class="header__social">
        <div class="header__social-text">Follow us</div>
        <img src="./img/instagram.svg" alt="inst" class="header__social-img">
        <img src="./img/twitter.svg" alt="twitter" class="header__social-img">
        <img src="./img/Facebook.svg" alt="facebook" class="header__social-img">
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </div>
  </div>
</header>
